body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}
.screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lazy-img {
    max-width: 100%;
    opacity: 0; /* 初始不显示图片 */
    transition: opacity 1s ease-in;
}
body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background: linear-gradient(to right, #251B19, #4E2A0d, #251B19);
}
.title {
    font-size: 2em; /* 32px */
    line-height: 1.2;
    margin-bottom: 0.5em;
    color: rgb(133, 82, 20);
    text-align: left;
    font-weight: bold;
    width: 100%;
}
/* 
.text1 {
    font-size: 1.75em;
    line-height: 1.3;
    margin-bottom: 0.5em;
} */

.text1 {
    font-size: 1.4em;
    line-height: 1.4;
    margin-bottom: 0.5em;
    color: bisque;
    text-align: left;
    width: 100%;
}

.text2 {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1em;
}

.emphasis,
.main5 .box2 .emphasis {
    color: rgb(254, 199, 59);
}

.main {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3em;
}

.main1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: bisque;
}
/* 旋转动画 */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.main1 img {
    width: 50vw;
    height: 50vw;
    animation: rotate 5s linear infinite;
}

.main1 .title {
    font-size: 4em;
    text-align: center;
}
.main1 .text {
    font-size: 2em;
    text-align: center;
}

.main3 .img,
.main4 .img,
.main6 .img,
.main9 .img {
    width: 100%;
}

.main4 span {
    color: bisque;
    font-size: 1.5em;
    font-weight: bold;
}
.main4 .bigsize {
    font-size: 2em;
    font-weight: bold;
}

.main5 .box1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-size: 1.3em;
    margin-bottom: 3em;
}
.main5 .special {
    font-size: 1.4em;
    color: rgb(198, 245, 209);
}
.main5 .text1 span,
.main5 .text2 {
    color: #cecece;
    font-size: 1em;
}
.main5 .box2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.main5 .box2 .left,
.main5 .box2 .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}
.main5 .box2 .left {
    height: 60em;
}
.main5 .list,
.main7 .list {
    display: flex;
    justify-content: space-around;
    gap: 2em;
    align-items: center;
    width: 100%;
}
.main5 .text3 {
    color: #fff;
}

.main6 .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 20.5em;
    width: 70vw;
    margin: 1.5em 0;
    text-align: center;
}
li {
    margin-bottom: 1em;
}

.main7 .text3 {
    font-size: 1.2em;
    line-height: 1.5;
}

.main8 span {
    display: inline-block;
    width: 1em;
}

.main9 .textBox {
    display: flex;
    gap: 1em;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
}
.footer img {
    width: 80vw;
}
.footer .bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-top: 9em; */
    font-size: 0.8em;
}